version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: my-portfolio-db
    environment: 
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  api:
    build: .
    container_name: my-portfolio-api
    command: npm run dev
    ports:
      - "8000:8000"
    environment:
      - PORT=8000 
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app

volumes:
  postgres-data: